@model PagedList.PagedList<SmallTask.Web.Models.User.ListUsersViewModel>
@using SmallTask.Common.Enums;
@foreach (var user in Model)
{
    <div class="col-md-4 center-block">
        <div class="panel panel-info col-md-10">
            <div class="panel panel-heading text-center">
                <h3>@user.FullName</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    @Html.DisplayFor(m => user.IsMale, "Gender", new { @class = "pull-left" })
                    <span class="pull-right"><span class="fa fa-phone"> </span>@user.Telephone</span>
                </div>
                <br />
                <div class="row">
                    @Html.DisplayFor(m => user.PhotoUrl, "ProfilePicture")
                </div>
                <br />
                <div class="row">
                    @if (user.Status == Status.Active)
                    {
                        <input type="checkbox" data-toggle="toggle" checked data-on="Active" data-off="Inactive" class="activator"/>
                    }
                    else
                    {
                        <input type="checkbox" data-toggle="toggle" data-on="Active" data-off="Inactive" class="activator" value=@user.Id/>
                    }
                    <input type="button" class="btn btn-danger pull-right delete-button" value="Delete" id=@user.Id/>
                </div>
            </div>
        </div>
    </div>
}
