@using SmallTask.Web.Models.User;
@using System.Web.Optimization
@model PagedList.PagedList<ListUsersViewModel>
@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="jumbotron text-center">All Users</h2>
@Html.Partial("_Users", Model)
<div class="clearfix"></div>
@Html.Partial("_Paging", Model)
<div class="clearfix"></div>
@section scripts{

@Scripts.Render("~/bundles/myScripts")

}